<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeTube</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <aside class="sidebar">
            <ul class="sidebar-links">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/components/Subscriptions/subscription.html" data-route="/subscriptions" id="subscriptionsLink">Subscriptions</a></li>
                <li><a href="/components/Library/library.html" data-route="/library" id="libraryLink">Library</a></li>
                <li><a href="/components/WatchLater/watchLater.html" data-route="/watch-later" id="watchLaterLink">Watch Later</a></li>
            </ul>
        </aside>
    </div>
</body>

<script src="App.js"></script>

</html>